@page
@model Web.Pages.PostPage.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/job_detail.css" />
<div class="background">
    <div class="sec-job-detail">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="header">
                        <div class="row">
                            <div class="col-lg-9">
                                <h1 class="job-name">
                                    @Model.Post.Title
                                </h1>
                                <div class="job-details">
                                    <p class="work_time">Full-time</p>
                                    <p class="location">@Model.Post.LocationPosts.FirstOrDefault().Location.LocationName</p>
                                    <p class="function">@Model.Post.Category.CategoryName</p>
                                    <p class="date">@Model.Post.CreatedAt.ToString("MMM dd, yyyy")</p>
                                </div>
                                <div class="bonus">
                                    @foreach (var item in Model.Post.PostSkills)
                                    {
                                        <p class="hybrid">
                                            <span>
                                                @item.Skills.SkillName
                                            </span>
                                        </p>
                                    }
                                </div>
                            </div>
                           
                            <div class="col-lg-3">
                                @if (ViewData["Show"] != "NotShow")
                                {
                                <a asp-page="/ApplicantPosts/Create" asp-route-id="@Model.Post.PostId">
                                    <div class="apply">
                                        <button id='open' class="btn-careers1 " data-toggle="modal" data-target="#showmodal-@Model.Post.PostId">Apply for this job</button>
                                    </div>
                                </a>
                                }
                                
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="description">
                                    @Html.Raw(Model.Post.Description)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script>

    </script>
}

